@charset "utf-8";
@import "./common.scss";

.aboutus{
  width: 100%;
  height: 100%;
  @include box-flex();
  @include flex-direction(column);
  .aboutus_header{
    height: 44px;
    background: #0cc140;
    ul{ 
      @include box-flex();
      @include full;
      color: #fff;
      font-size: .16rem;
      >li{
        line-height: 44px;
        &:not(:nth-child(2)){
          width:0.44rem;
          text-align: center;
          font-weight: 200;
        }
        &:nth-child(2){
          @include flex;
          text-align: center;
          font-weight: 200;
        }
        &.icon-clet{
          font-family: "iconclet";
        }
      }
    }
  }
  .aboutus_section{
    width: 100%;
    @include flex();
    background: #6f2ec1;
  }
}