@charset "utf-8";
@import "./common.scss";
@import "../lib/swiper.min.css";

.swiper-container{
	width: 100%;
	height: 100%;
	img{
		width: 100%;
		height: 100%;
	} 
	.swiper-slide{
		position: relative;
		.button{
			position: absolute;
			right: 80px;
			bottom: 64px;
			width: 100px;
			height: 30px;
		}
	}
	
}