<div class="container" id="container">
    <div class="main">
        <div class="main_z" ui-view>

        </div>
    </div>
    <footer>
        <ol>
            <li><i>&#xe6bb;</i><b><a ui-sref="index.home">首页</a></b></li>
            <li><i>&#xe65c;</i><b><a ui-sref="index.find">发现</a></b></li>
            <li><a ui-sref="show({id:3})" style="color:#000;"><i>&#xe664;</i></a></li>
            <li><i>&#xe735;</i><b><a ui-sref="index.aboutus">我的</a></b></li>
            <li><i>&#xe603;</i><b><a ui-sref="index.exit">退出</a></b></li>
        </ol> 
    </footer>
</div>