<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<div class="m-detail">
	<header>
		<ul>
			<li class="icon-clet" ui-sref="index.home" id="back">&#xe779;</li>
			<li id="title"></li>
			<li class="icon-clet">&#xe619;</li>
		</ul>
	</header> 
	<section>
		<div id="img" class="img">

		</div>
	</section>
</div>
</body>
<!--
<script src="../src/scripts/lib/zepto.min.js"></script>

<script src="../src/scripts/useage/show.js"></script>-->
</html>



